body{
    background-color: #2179D8;
}
.container{
    height: 80vh;
    width: 80%;
    /* background-image: url(../Assets/images/quizimg.svg); */
    margin: 4% auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 10px 15px 6px #0000008e;
}